.container {
  padding-top: 90px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white; /* Changed to white for better contrast */
  background-color: black; /* Ensures background is black */
  padding: 2rem;
  gap: 2rem; /* Adds some space between grid items */
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  padding: 2rem;
  margin: 1rem;
  flex-direction: column;
  background-color: #333;
  border-radius: 0.5rem;
}

.user img {
  width: 7vw;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.user h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: white; /* Ensures text color is visible on a black background */
}

.user a {
  color: white;
  cursor: pointer;
}
.button {
  background: rgb(121, 112, 163);
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  color: white;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .container {
    background: black;
    display: flex;
    flex-direction: column; /* Stack items vertically on mobile */
  }
  .user {
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    margin: 1rem 5rem;
  }
  .user img {
    width: 11vw;
  }
  .button {
    margin: 0.5rem 2rem;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }
}
